* {
  font-size: 1.5rem;
}
html {
  height:100%;
}
body {
  background: #9984D4;
  min-height: 100%;
}

.outlineform {
  -webkit-box-shadow: 0 0 5px #51cbee;
          box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
  margin-top: 2rem;
}
